*{
    margin: 0px;
    padding: 0px;
}

/* ACCUEIL */

.accueil{
    padding-bottom: 5rem;
    padding-top: 4rem;
}
.accueil h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 16px;
}
.accueil p{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 16px;
}
.accueilprimaire{
    background-color: #7451eb;
    color: white;
}
.accueilsecond{
    row-gap: 32px;
}


/* Serie d'Image */


.imagesseries{
    padding-top: 1.5rem;
    padding-bottom: 4.5rem;
}
.imagesseries img{
    height: auto;
    width: 240px;
    margin-bottom: 16px;
}

/* Video */

.videomenu{
    background-color: #fffaee;
    padding-top: 72px;
    padding-bottom: 72px;
}
.partietexte{
    margin-right: 16px;
}
.partietexte h2{
    margin-bottom: 16px;
}
.partietexte span{
    color: white;
    background-color: #8a76e8;
    font-weight: 700;
    padding-right: 25px;
    padding-left: 10px;
    padding-bottom: 4px;
    padding-top: 2px;
}
.partietexte p{
    line-height: 26px;
}